@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/mixins";

// @import "~bootstrap/scss/grid";
.container {
  @include make-container();
  @include make-container-max-widths();
}

.page-container {
  margin-top: 2rem;
}

// @import "~bootstrap/scss/utilities/background";
.bg-faded {
  background-color: darken($body-bg, 3%);
}

@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/jumbotron";
